.home{
    background: linear-gradient(rgba(199, 199, 199, 0.13) , rgba(0, 0, 200, 0)), url(../../imgs/paladins.b44d33d6e7ee1ba8.png);
    background-repeat: no-repeat;
    background-position: 50%;
}